@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  font-weight: 300;
}
h1{
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
}
h2{
  font-size: 24px;
  font-weight: 200;
  line-height: 40px
}
.post-title{
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 1rem;
}
.preview-post-title{
  font-size: 24px;
}
.read-more{
  text-decoration: underline;
}

@media(min-width: 769px){
  h1{
    font-size: 56px;
    font-weight: 300;
    line-height: 50px;
  }
}
