@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  font-weight: 300;
}
h1{
  font-size: 56px;
  font-weight: 300;
  line-height: 50px;
}
