@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  font-weight: 300;
}
h1{
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
}
h2{
  font-size: 24px;
  font-weight: 200;
  line-height: 40px
}
h3{
  font-size: 22px;
  font-weight: 300;
}
.post-title{
  font-size: 32px;
  line-height: 30px;
}
.preview-post-title{
  font-size: 28px;
}
.read-more{
  text-decoration: underline;
}
.cs-category{
  color: green;
}
.life-category{
  color: blue;
}
.project-title{
  font-size: 20px;
  font-weight: 500;
}

@media(min-width: 769px){
  h1{
    font-size: 56px;
    font-weight: 300;
    line-height: 50px;
  }
}
